@import url("../../master.css");

.msgboxpage { animation: compload 3.2s ease-in-out; border: 0.4vh solid var(--color-black); }

.heading { margin-top: -2.4vh; margin-bottom: -0.8vh; color: var(--color-black); }

.drawCircle
{
    color: var(--color-white);
    background-color: var(--color-black);
    border: 0.1vh solid var(--color-black);
    border-radius: 4vh;
    padding: 0.08vh;
    height: 4.8vh;
    width: 4.6vh;
}

.col-bar { border: 0.3vh solid var(--color-black); background: var(--color-black); }

.btnclose
{
    margin-left: 48vh;
    margin-top: 2.4vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-black);
}

.btnclose:active { color: var(--color-black); }

.btnclose:hover { border: 0.4vh solid var(--color-black); border-radius: 2.8vh; }

.btnStyle
{
    text-transform: uppercase;
    margin-top: -0.4vh;
    font-weight: 600;
    letter-spacing: 0.1vh;
    border: 0.4vh solid var(--color-black);
    border-radius: 2vh;
    padding: 0.8vh 2vh 0.8vh 2vh;
}

.btnStyle:hover { border: none; background: var(--color-black); color: var(--color-white); transition: 0.4s ease-in-out; }

.btnStyle:active { border: 0.4vh solid var(--color-black); background-color: var(--color-white); color: var(--color-black); }