.contentcard
{
    float: left;
    text-align: center;
    margin-left: 6vh;
    margin-top: 6vh;
    height: 90vh;
    width: 80vh;
    box-shadow: -4vh -2vh 10vh -4vh;
}

.sub-card { background-color: var(--color-black) !important; }

.heading { text-align: center !important; padding-left: 38.8rem; }

.header { padding-left: 17vh; }

.contentimg { height: 40vh; width: 79.99vh; border-radius: 0.6vh; margin-left: -0.10vh; margin-top: -0.052vh; backface-visibility: hidden !important; opacity: 1; }

.postheading { font-size: 5vh; }

.circle1, .circle2 { height: 2.5vh; width: 2.5vh; border-radius: 5vh; }

.circle1 { border: 0.2vh solid rgb(0, 128, 255); background-color: rgb(0, 128, 255); margin-top: 2.5vh; margin-left: 4vh; }

.circle2 { border: 0.2vh solid rgb(254, 170, 0); background-color: rgb(254, 170, 0); margin-top: -2.5vh; margin-left: 7.4vh; }

.learnmore
{
    display: inline-block;
    position: absolute;
    z-index: 1;
    color: var(--color-white);
    padding-top: 18vh;
    padding-left: 30vh;
    text-transform: capitalize;
    font-size: 3.6vh;
    visibility: hidden;
    border: none !important;
    background: none !important;
}

.contentcard:hover .contentimg { opacity: 0.3; animation: compload 0.8s ease-in-out; }

.contentcard:hover .learnmore { opacity: 1; visibility: visible; animation: compload1 1.8s ease-in-out; }