:root {
    --color-blue: #2a76e2;
    --color-drk-blue: #063662;
    --color-gray: #ddd;
    --color-drkr-gray: #cdcdcd;
    --color-white: #fff;
    --color-black: #061c30;
    --color-red: red;
    /* Fonts */
    --font-monts: "Montserrat";
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: var(--font-monts);
    animation: mainpageload 4s ease-in-out;
}

.colbar1 { height: 1.8rem; width: 78rem; background-color: var(--color-blue); }

/* .sub-main section starts here */
.sub-main { padding: 0 2rem; }

.sub-main p { font-size: 0.79rem; }

.card-sub {
    display: inline-block;
    position: relative;
    border: 0.2rem solid var(--color-black);
    border-radius: 0.8rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 0 1.2rem;
    width: 14rem;
    height: 8rem;
    text-align: center;
    font-weight: normal;
    margin-right: 0.2rem;
    margin-left: 1.2rem;
}

.sub-text { display: inline-block; position: relative; padding: 2.8rem; }

.sub-text p { float: left; margin-right: 32rem; margin-left: -2.8rem; font-size: 0.8rem; }

.sub-text h4 { float: right; margin-left: 37rem; text-align: left; }

.text1 { margin-top: -3rem; }

.sub-text2 { margin-top: -4rem; }

.card2 {
    border: 0.2rem solid var(--color-black);
    border-radius: 0.8rem;
    background-color: var(--color-gray);
    height: 26rem;
}

.card-sub2 {
    display: inline-block;
    position: relative;
    border: 0.2rem solid var(--color-black);
    border-radius: 0.8rem;
    background-color: var(--color-drkr-gray);
    color: var(--color-black);
    padding: 0 1.2rem;
    width: 10rem;
    height: 4rem;
    text-align: center;
    font-weight: normal;
    margin-right: 0.2rem;
    margin-left: 1.44rem;
    margin-top: 10rem;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.default { background-color: var(--color-blue); color: var(--color-white); }

.sub-text3 { padding: 1.6rem 0; }

.card3 { margin-top: -5.2rem; }

.card-sub3 {
    display: inline-block;
    position: relative;
    border: 0.2rem solid var(--color-black);
    border-radius: 0.8rem;
    background-color: var(--color-drkr-gray);
    color: var(--color-black);
    padding: 0 1.2rem;
    width: 10rem;
    height: 4rem;
    text-align: center;
    font-weight: normal;
    margin-right: 0.2rem;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.default2 { background-color: var(--color-blue); color: var(--color-white); }

#cardsubtext1 { margin-left: 26rem; }

#cardsubtext2 { margin-left: 2rem; }

.cardgroupbox1 {
    display: inline-block;
    position: relative;
    padding: 2rem;
    margin-top: 1.2rem;
}

.cardgroupbox2 {
    display: none;
    position: relative;
    padding: 2rem;
    margin-top: 1.2rem;
}

.cardbox {
    display: inline-block;
    position: relative;
    border: 0.2rem solid var(--color-drkr-gray);
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 0 1.2rem;
    width: 8rem;
    height: 10rem;
    text-align: center;
    font-weight: normal;
    margin-right: 4.6rem;
    margin-left: 2rem;
    cursor: pointer;
}

.card-sub4 {
    display: inline-block;
    position: relative;
    border: 0.2rem solid var(--color-black);
    border-radius: 0.8rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 0 1.2rem;
    width: 14rem;
    height: 8rem;
    text-align: center;
    font-weight: normal;
    margin-right: 0.2rem;
    margin-left: 1.2rem;
}

.sub-text5 { padding: 2rem; text-align: center; }

.colbar2 {
    height: 0.12rem;
    width: 10rem;
    background-color: var(--color-blue);
    transform: rotate(90deg);
    margin-top: 4.8rem;
    margin-left: 24rem;
    border-top-left-radius: 4.8rem;
    border-bottom-right-radius: 4.8rem;
}

.btnjoin, .btnsubscribe {
    width: 6rem;
    cursor: pointer;
    text-transform: uppercase;
    border: 0.16rem solid var(--color-black);
    box-shadow: 0.2rem 0.2rem 0.2rem var(--color-black);
    transition: all 0.8s ease-in-out;
}

.btnjoin:active, .btnsubscribe:active {
    border-color: var(--color-black);
    background-color: var(--color-black);
    color: var(--color-white);
    box-shadow: none;
}
/* End of .sub-main section */

/* Footer Section starts here */
.footer-group {
    margin-left: 0.9rem;
    margin-bottom: 0.99rem;
    padding: 4rem;
    width: 69rem;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.colbar3 {
    height: 0.1rem;
    width: 70rem;
    background-color: var(--color-white);
    opacity: 50%;
    border-radius: 2rem;
}

.contact-card { margin-left: 2rem; padding: 2rem 0; }

.useful-links { margin-left: 17.2rem; margin-top: -14.76rem; padding: 2rem 0; }

.useful-links h3, .comp-info h3 { color: var(--color-white); transition: all 0.8s ease-in-out; cursor: pointer; }

.useful-links h3:hover, .comp-info h3:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    color: var(--color-drkr-gray);
    margin-left: 0.8rem;
}

.comp-info { margin-left: 32.8rem; margin-top: -16.3rem; padding: 2rem 0; }

.aboutus-info { margin-left: 48.4rem; margin-top: -12.8rem; padding: 2rem 0; }

.aboutus-info img { height: 2.6rem; width: 5rem; }

.aboutus-info h3 { letter-spacing: 0.1rem; line-height: 1.4rem; }

.colbar5 {
    height: 0.1rem;
    width: 20.8rem;
    background-color: var(--color-white);
    opacity: 50%;
    margin-left: -0.01rem;
    border-radius: 2rem;
}

#iconlinks {
    height: 2.5vh;
    width: 2.55vh;
    color: var(--color-white);
    border-radius: 0.8rem;
    text-decoration: none;
    animation: iconloadtransition 2s ease-in-out;
    text-align: center;
}

#iconlinks:hover {
    cursor: pointer;
    transition: 0.6s ease-in-out;
    color: var(--color-black) !important;
    background-color: var(--color-drkr-gray) !important;
}

.iconlnkdn { padding: 0.4rem; margin-right: 1.2rem !important; }

.iconfb { padding: 0.36rem 0.34rem; margin-right: 1.2rem !important; }

.iconutube { width: 1.2rem !important; padding: 0.39rem 0.28rem; margin-right: 1.2rem !important; }

.icontwtr { padding: 0.4rem; margin-right: 1.2rem !important; }

.iconlnkdn, .iconfb, .iconutube, .icontwtr { margin-left: 0.1rem; margin-right: auto; }

.text-title {
    display: none;
    position: absolute;
    margin-top: 0.6rem !important;
    text-transform: uppercase;
    font-size: 0.68rem;
    transition: 4s ease-in-out;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

#textTitle1 { margin-left: -1.8rem !important; }

#textTitle2 { margin-left: -1.68rem !important; }

#textTitle3 { margin-left: -1.4rem !important; }

#textTitle4 { margin-left: -1.6rem !important; }

.colbar4 {
    height: 0.1rem;
    width: 11.6rem;
    background-color: var(--color-white);
    opacity: 50%;
    margin-left: -0.01rem;
    border-radius: 2rem;
}

.sub-text6 {
    width: 6rem;
    cursor: pointer;
    margin-left: 34rem;
    text-align: center;
    color: var(--color-black);
    text-transform: capitalize;
    background-color: var(--color-white);
    border: 0.16rem solid var(--color-black);
    box-shadow: 0.2rem 0.2rem 0.2rem var(--color-black);
    transition: all 1.2s ease-in-out;
}

.sub-text6:hover {
    border-color: var(--color-black);
    background-color: var(--color-black);
    color: var(--color-white);
    box-shadow: none;
}

.sub-text7 {
    float: right;
    width: 22rem;
    cursor: pointer;
    padding: 0 0.4rem;
    text-align: center;
    margin-top: -1.6rem;
    text-transform: capitalize;
    border: 0.16rem solid var(--color-black);
    background-color: var(--color-drk-blue);
    box-shadow: 0.2rem 0.2rem 0.2rem var(--color-black);
    transition: all 0.8s ease-in-out;
}

.subtextbox {
    float: right;
    border: none;
    width: 2.2rem;
    color: var(--color-black);
    margin-right: 0.2rem;
    text-align: center;
    background-color: var(--color-white);
}
/* Footer Section ends here */

/* Page Animations */
@keyframes mainpageload {
    from { opacity: 0; transform: skew(-1); margin-top: -2rem; }
    to { opacity: 1; }
}

@keyframes iconloadtransition {
    from { opacity: 0; margin-left: -10vh; transform: scale(2, 4); }
    to { opacity: 1; }
}