.regForm {
    height: 40rem;
    width: 40rem;
    margin-top: 2.8rem;
    margin-left: 22rem;
}

.modalContent {
    background-color: var(--color-orange);
    border: 0.2rem solid var(--color-orange);
    border-radius: 0.6rem;
}

.registerform {
    position: relative;
    z-index: 8;
    text-align: center;
    color: var(--color-white);
}

.txtUname, .txtPwd, .txtName, .txtAge, .txtEmail, .txtMobno {
    width: 10rem;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--color-lgtgray);
    padding: 0 0.26rem;
    transition: all 0.4s ease-in-out;
}

.txtUname, .txtName, .txtEmail { margin-right: 0.6rem; }

input:focus { outline: none; border: 0.2rem solid var(--color-dgrblue); }

.btnReg { text-align: center; }