<!-- <p>register works!</p> -->
<section>
    <!-- Register Form Modal -->
    <div class="regForm modal fade" id="regform" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="regformLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modalContent modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="regformLabel">Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body form">
                    <form class="registerform" action="" method="get">
                        <input class="txtUname" type="text" name="lusername" required id="lusername" placeholder="Enter Username...">
                        <input class="txtPwd" type="password" name="lpassword" required id="lpassword" placeholder="Enter Password...">
                        <br><br>
                        <input class="txtName" type="text" name="name" id="name" required placeholder="Enter Name...">
                        <input class="txtAge" type="text" name="age" id="age" required placeholder="Enter Age...">
                        <br><br>
                        <input class="txtEmail" type="email" name="emailId" required id="emailId" placeholder="Enter Email ID...">
                        <input class="txtMobno" type="text" name="mobno" required id="mobno" placeholder="Enter Mobile No...">
                        <br><br>
                        <button type="button" class="btnReg btn btn-primary" type="submit">Register</button>
                    </form>
                    <br>
                    <p style="text-transform: uppercase; font-weight: 600; letter-spacing: 0.1rem;" class="text-danger">*all fields are required...!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Modal -->
</section>