/* You can add global styles to this file, and also import other style files */
:root {
    --font-asp: 'Alumni Sans Pinstripe';
    --font-quicksand: 'Quicksand';
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #fd7e14;
    --color-dgrblue: dodgerblue;
    --color-lgtgray: lightgray;
    --color-drkgray: darkgray;
    --color-gray: gray;
    --color-blue: #0d6efd;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: var(--font-quicksand);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.8rem;
}

body::-webkit-scrollbar-track {
    border: 0.25em solid var(--color-orange);
    background-color: var(--color-orange);
    border-radius: 0.8rem;
    margin: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-dgrblue);
    border-radius: 0.8rem;
}
/* Custom Scrollbar */